*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 0 3rem; }
  @media only screen and (max-width: 35em) {
    body {
      padding: 0 1rem; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 2;
  width: 100%;
  transition: all 0.3s; }
  .header__bottom-nav {
    margin-top: 0.8rem; }
  @media only screen and (max-width: 35em) {
    .header {
      padding-bottom: 1.5rem;
      height: 4rem; } }
  .header__btn--back {
    background-color: #fff;
    color: #443a40;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    padding: 0.4rem 0.4rem;
    height: 3rem;
    width: 3rem;
    transition: all 0.2s;
    border-radius: 9px;
    box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.3);
    z-index: 999; }
    @media only screen and (max-width: 35em) {
      .header__btn--back {
        top: 0.5rem;
        height: 2.2rem;
        width: 2.2rem; } }
    .header__btn--back:hover {
      background-color: #443a40;
      color: #fff;
      box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.2);
      transform: scale(1.04);
      transition: all 0.2s; }
    .header__btn--back:active {
      box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.5);
      transform: scale(1); }

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.883);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); }

.sticky .logo {
  font-size: 3rem; }

.logo {
  font-family: "Delicious Handrawn", cursive;
  font-size: 5.5rem;
  text-decoration: none;
  color: #443a40; }
  @media only screen and (max-width: 35em) {
    .logo {
      font-size: 3rem; } }

.main-nav {
  display: flex;
  gap: 6rem;
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
  justify-content: space-around; }
  @media only screen and (max-width: 35em) {
    .main-nav {
      font-size: 1rem;
      gap: 1.4rem; } }
  .main-nav li {
    transition: all 0.2s; }
  .main-nav-link:link, .main-nav-link:visited {
    text-decoration: none;
    color: #443a40;
    cursor: pointer; }
  .main-nav li:hover {
    transform: scale(1.2);
    color: #000; }

.opere {
  margin: 0 auto; }

.gallery {
  max-width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content) repeat(2, min-content);
  gap: 0.8rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  position: relative;
  background-color: #fff; }
  @media only screen and (max-width: 35em) {
    .gallery {
      display: flex;
      flex-direction: column;
      padding-top: 4rem;
      padding-bottom: 0.5rem; } }
  .gallery__item {
    overflow: hidden;
    display: block;
    width: 100%; }
    @media only screen and (max-width: 35em) {
      .gallery__item:last-child {
        margin-bottom: 1.2rem;
        paddin-top: 6rem; } }
    .gallery__item img {
      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: fill; }

.sticky .opere {
  padding-top: 6.8rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 999;
  opacity: 0;
  visibility: hidden; }
  .popup__content {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.25);
    object-fit: fill;
    opacity: 0;
    transition: all 0.3s 0.1s; }
    @media only screen and (max-width: 35em) {
      .popup__content {
        width: 100%;
        height: auto; } }
  .popup:target {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #443a40;
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.2s; }
  .popup__close:hover {
    color: #000; }

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.cat {
  width: 100vw;
  display: block; }

.main__btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4.5rem; }

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
  background-color: #443a40;
  color: #fff; }

.btn:hover,
.btn:active {
  background-color: #332b30;
  transform: scale(1.1);
  box-shadow: 0 1.8rem 3.2rem rgba(0, 0, 0, 0.2); }

.opere__second {
  margin: 0 auto; }

.gallery__second {
  max-width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 30vh);
  gap: 0.8rem;
  margin: 0 auto;
  padding-top: 0rem;
  padding-bottom: 2rem;
  position: relative;
  background-color: #fff; }
  @media only screen and (max-width: 35em) {
    .gallery__second {
      display: flex;
      flex-direction: column;
      padding-top: 4rem;
      padding-bottom: 0.5rem; } }
  .gallery__second--item {
    overflow: hidden;
    display: block;
    width: 100%; }
    @media only screen and (max-width: 35em) {
      .gallery__second--item:last-child {
        margin-bottom: 1.2rem;
        paddin-top: 6rem; } }
    .gallery__second--item img {
      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: cover;
      transition: all 0.2s; }
      .gallery__second--item img:hover {
        transform: scale(1.1); }

.reviews {
  width: 65%;
  margin: 10rem auto;
  padding: 3rem 6rem;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 1rem; }
  @media only screen and (max-width: 120em) {
    .reviews {
      width: 80%;
      padding: 1rem 5rem; } }
  @media only screen and (max-width: 50em) {
    .reviews {
      flex-direction: column;
      gap: 3rem;
      width: 100%;
      padding: 0.7rem 2rem 1.2em 2rem;
      margin-top: 8.5rem;
      text-align: center; } }
  .reviews img {
    height: 30rem;
    transform: scale(1.3);
    border-radius: 25px;
    margin-right: 5rem; }
    @media only screen and (max-width: 80em) {
      .reviews img {
        height: 25rem; } }
    @media only screen and (max-width: 50em) {
      .reviews img {
        height: 11rem;
        width: 11rem;
        border-radius: 50%;
        object-fit: cover;
        margin: -3rem 0 0.5rem 0;
        box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25); } }
  .reviews--2 {
    padding: 3rem 1rem 3rem 6rem;
    gap: 5rem; }
    @media only screen and (max-width: 120em) {
      .reviews--2 {
        padding: 2rem 1rem 3rem 5rem; } }
    @media only screen and (max-width: 80em) {
      .reviews--2 {
        padding: 2rem 1rem 1.8rem 5rem; } }
    @media only screen and (max-width: 50em) {
      .reviews--2 {
        flex-direction: column-reverse;
        padding: 0.8rem 2rem;
        margin-bottom: 2.5rem;
        gap: 3rem; } }

.testimonial_text {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5;
  color: #443a40;
  margin-bottom: 2rem;
  justify-content: center; }
  @media only screen and (max-width: 80em) {
    .testimonial_text {
      font-size: 1.6rem;
      line-heigth: 1.2; } }
  @media only screen and (max-width: 50em) {
    .testimonial_text {
      font-size: 1.5rem;
      line-height: 1.1;
      margin-bottom: 0.8rem; } }
  .testimonial_text--2 {
    font-size: 1.8rem; }
    @media only screen and (max-width: 80em) {
      .testimonial_text--2 {
        font-size: 1.4rem;
        line-heigth: 1.2; } }
    @media only screen and (max-width: 50em) {
      .testimonial_text--2 {
        font-size: 1.3rem; } }

.testimonial_author {
  font-size: 1rem;
  color: #443a40; }
