.carousel {
  max-width: 80%;
  position: relative;
  margin: 0 auto;
  align-items: start;
  justify-content: center;
  overflow: hidden;
  display: flex;

  &__review {
    height: 65rem;
    @media only screen and (max-width: $bp-large) {
      height: 55rem;
    }
    @media only screen and (max-width: $bp-middle) {
      height: 50rem;
    }
    @media only screen and (max-width: $bp-medium) {
      height: 64rem;
    }
    @media only screen and (max-width: $bp-small) {
    }
  }

  &__article {
    margin-bottom: 4rem;
    height: 115rem;
    @media only screen and (max-width: $bp-large) {
      height: 130rem;
    }
    @media only screen and (max-width: $bp-middle) {
      height: 105rem;
    }
    @media only screen and (max-width: $bp-medium) {
      height: 145rem;
    }
    @media only screen and (max-width: $bp-small) {
      height: 130rem;
    }
  }
}
