.opere {
  margin: 0 auto;
}

.gallery {
  max-width: 98%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content) repeat(2, min-content);
  gap: 0.8rem;
  margin: 0 auto;
  padding-bottom: 2rem;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5rem;
  }

  &__item {
    overflow: hidden;
    display: block;
    width: 100%;

    &:last-child {
      @media only screen and (max-width: $bp-small) {
        margin-bottom: 1.2rem;
        paddin-top: 6rem;
      }
    }
    & img {
      display: block;
      height: 100%;
      width: 100%;
      overflow: hidden;
      object-fit: fill;
    }
  }
}

.sticky .opere {
  padding-top: 6.8rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
