.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 8rem;
  // padding-bottom: 11rem;
  background-color: $color-white;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 2;
  width: 100%;
  transition: all 0.3s;
  &__bottom {
    &-nav {
      margin-top: 0.8rem;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 1.5rem;
    height: 4rem;
  }
  &__btn--back {
    background-color: $color-white;
    color: $color-grey-dark;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    padding: 0.4rem 0.4rem;
    // font-size: 3rem;
    height: 3rem;
    width: 3rem;
    transition: all 0.2s;
    border-radius: 9px;
    box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.3);
    z-index: 999;

    @media only screen and (max-width: $bp-medium) {
      top: 0.5rem;
      height: 2.2rem;
      width: 2.2rem;
    }

    &:hover {
      background-color: $color-grey-dark;
      color: $color-white;
      box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.2);
      transform: scale(1.04);
      transition: all 0.2s;
    }
    &:active {
      box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.5);
      transform: scale(1);
    }
  }
}

.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.8rem;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.883);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .logo {
  font-size: 3rem;
}

.logo {
  font-family: "Delicious Handrawn", cursive;
  font-size: 5.5rem;
  text-decoration: none;
  color: $color-grey-dark;

  @media only screen and (max-width: $bp-medium) {
    font-size: 3rem;
  }
}
.main-nav {
  display: flex;
  gap: 6rem;
  font-size: 1.8rem;
  font-weight: 500;
  list-style: none;
  justify-content: space-around;

  @media only screen and (max-width: $bp-medium) {
    font-size: 1rem;
    gap: 1.4rem;
  }

  & li {
    transition: all 0.2s;
  }
  &-link:link,
  &-link:visited {
    text-decoration: none;
    color: $color-grey-dark;
    cursor: pointer;
  }

  & li:hover {
    transform: scale(1.2);
    color: $color-black;
  }
}
