.section__review {
  position: relative;
}

.reviews {
  @media only screen and (max-width: $bp-middle) {
    margin-top: 8.5rem;
  }
}
.reviews,
.article {
  width: 90%;
  margin: 5rem auto;
  padding: 3rem 6rem;
  background-color: $color-white;
  border-radius: 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  @media only screen and (max-width: $bp-large) {
    padding: 1rem 5rem;
  }
  @media only screen and (max-width: $bp-middle) {
    margin: 2.5 auto;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 0.7rem 2rem 1.2em 2rem;
    text-align: center;
  }

  & img {
    height: 30rem;
    transform: scale(1.3);
    border-radius: 25px;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-middle) {
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      object-fit: cover;
      margin: -3rem 0 0.5rem 0;
      box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
    }
  }
}

.article {
  &__testimonial {
    display: flex;
    flex-direction: column;
    & h1 {
      padding-bottom: 0.6rem;
    }
    & span {
      display: inline-block;
      color: $color-grey-dark;
      padding-bottom: 2rem;
    }
    &--title {
      text-align: center;
      padding: 2rem;
      @media only screen and (max-width: $bp-middle) {
        padding: 1rem;
      }
      & h1 {
        font-size: 3rem;
        @media only screen and (max-width: $bp-middle) {
          font-size: 1.8rem;
        }
      }
    }

    &--main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 1rem;

      @media only screen and (max-width: $bp-middle) {
        display: inline-block;
      }

      &-column {
        padding: 0 1.5rem 0 1.5rem;
        &:not(:first-child) {
          border-left: 1px solid $color-grey-light-1;
          @media only screen and (max-width: $bp-middle) {
            border: none;
          }
        }
        & p {
          font-size: 1.4rem;
          @media only screen and (max-width: $bp-middle) {
            font-size: 1.1rem;
            line-height: 1.1;
          }
        }
      }
    }
  }
}

.review__testimonial {
  margin-bottom: 2rem;
  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 0.8rem;
  }
}
.review__testimonial,
.article__testimonial {
  &-text {
    font-size: 1.8rem;
    line-height: 1.5;
    color: $color-grey-dark;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
      font-size: 1.4rem;
      line-height: 1.3;
    }
    @media only screen and (max-width: $bp-middle) {
      font-size: 1.2rem;
      line-height: 1.1;
    }
    @media only screen and (max-width: $bp-medium) {
      font-size: 1.1rem;
      line-height: 1.1;
    }
  }

  &-author {
    font-size: 1rem;
    color: $color-grey-dark;
    text-align: end;
  }
}

#section-reviews:before {
  display: block;
  content: " ";
  height: 30px;
  margin: -30px 0 0;
}
#section-articles:before {
  display: block;
  content: " ";
  height: 30px;
  margin: -30px 0 0;
}

.visible {
  opacity: 1;
  position: relative;
  position: relative;
  visibility: visible;
  transition: all 0.3s;
}
