.section__review {
  position: relative;
}

.reviews,
.article {
  width: 65%;
  margin: 5rem auto;
  padding: 3rem 6rem;
  background-color: $color-white;
  border-radius: 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0;
  position: absolute;
  @media only screen and (max-width: $bp-large) {
    width: 80%;
    padding: 1rem 5rem;
  }

  &--visible {
    opacity: 1;
    position: relative;
  }

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    padding: 0.7rem 2rem 1.2em 2rem;
    margin-top: 8.5rem;
    text-align: center;
  }
  & img {
    height: 30rem;
    transform: scale(1.3);
    border-radius: 25px;
    margin-right: 5rem;

    @media only screen and (max-width: $bp-middle) {
      height: 25rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 11rem;
      width: 11rem;
      border-radius: 50%;
      object-fit: cover;
      margin: -3rem 0 0.5rem 0;
      box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
    }
  }
}

.article {
  &__testimonial {
    display: flex;
    flex-direction: column;
    & h1 {
      padding-bottom: 0.6rem;
    }
    & span {
      display: inline-block;
      color: $color-grey-dark;
      padding-bottom: 2rem;
    }
    &--title {
      text-align: center;
      padding: 2.5rem;
      & h1 {
        font-size: 3rem;
      }
    }

    &--visible {
      opacity: 1;
      position: relative;
    }

    &--main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      font-size: 1rem;
      &-column {
        padding: 0 1.5rem 0 1.5rem;
        &:not(:first-child) {
          border-left: 1px solid $color-grey-light-1;
        }
        & p {
          font-size: 1.4rem;
        }
      }
    }
  }
}
.review__testimonial,
.article__testimonial {
  &-text {
    font-size: 1.8rem;
    line-height: 1.5;
    color: $color-grey-dark;
    margin-bottom: 2rem;
    justify-content: center;

    @media only screen and (max-width: $bp-middle) {
      font-size: 1.5rem;
      line-heigth: 1.2;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
      line-height: 1.1;
      margin-bottom: 0.8rem;
    }

    @media only screen and (max-width: $bp-large) {
      font-size: 1.6rem;
      line-heigth: 1.3;
    }
  }

  &-author {
    font-size: 1rem;
    color: $color-grey-dark;
    text-align: end;
  }
}

.carousel {
  height: 90rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: $bp-middle) {
    height: 85rem;
  }

  @media only screen and (max-width: $bp-large) {
    height: 85rem;
  }
}

#section-reviews:before {
  display: block;
  content: " ";
  height: 30px;
  margin: -30px 0 0;
}
#section-articles:before {
  display: block;
  content: " ";
  height: 30px;
  margin: -30px 0 0;
}
