$color-white: #fff;
$color-grey-light: #e9ecef;
$color-grey-light-1: #443a4052;
$color-grey-dark: #443a40;
$color-grey-dark-1: #332b30;
$color-black: #000;

$bp-large: 120em; // 1920px
$bp-middle: 80em; // 1280px
$bp-medium: 50em; // 800px
$bp-small: 35em; // 560px
$bp-phone: 22.5em; // 360px

// settare bp-point
// gestire grandezza h3 per le diverse media query
