.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
}

.logo {
  font-family: "Delicious Handrawn", cursive;
  font-size: 3.5rem;
  text-decoration: none;
  color: $color-grey-dark;
}
.main-nav {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  gap: 4.8rem;
  list-style: none;

  & li {
    transition: all 0.2s;
  }
  &-link:link,
  &-link:visited {
    text-decoration: none;
    color: $color-grey-dark;
    cursor: pointer;
  }

  & li:hover {
    transform: scale(1.2);
    color: $color-black;
  }
}
